@mixin list {
    margin: 0;
    padding: 0;

    list-style: none;
}

@mixin mobile-h1 {
    margin: 0;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-top: 20px;

    font-size: 26px;
    line-height: 36px;
    font-weight: 900;
    color: $accent;
    text-transform: uppercase;
}

@mixin desktop-h1 {}

@mixin xl-h1 {
	padding-bottom: 52px;

    font-size: 36px;
    line-height: 44px;
} 

@mixin mobile-h2 {
    margin: 0;
    padding: 0 10px;
    padding-bottom: 30px;

    font-size: 24px;
    line-height: 30px;
    font-weight: 900;
    text-align: center;
    color: $accent;
    text-transform: uppercase;
}

@mixin desktop-h2 { }

@mixin xl-h2 {
	padding-top: 68px;
    padding-bottom: 40px;

    font-size: 30px;
    line-height: 36px;
} 

@mixin mobile-h3 {
    margin: 0;
    padding: 0 10px;
    padding-bottom: 30px;

    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $accent;
}

@mixin desktop-h3 {}

@mixin xl-h3 {
	padding-top: 56px;
    padding-bottom: 36px;

    font-size: 24px;
    line-height: 30px;
} 

@mixin transition {
	transition: $transition;
}

@mixin firefox {
    @-moz-document url-prefix() {
        @content;
    }
}

@mixin msbrowsers {
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        @content;
    }

    @supports (-ms-accelerator:true) {
        @content;
    }
}

@mixin arrow($direction, $size, $color) {
    display: inline-block;
    padding: $size;
    border: solid $color;
    border-width: 0 $size $size 0;

    @if $direction == right {
        transform: rotate(-45deg);
    }

    @if $direction == left {
        transform: rotate(135deg);
    }

    @if $direction == up {
        transform: rotate(-135deg);
    }

    @if $direction == down {
        transform: rotate(45deg);
    }
}
