$main-font: "Roboto", "Arial", sans-serif;

$accent: #447ade;
$text: #222222;
$gray-form: #e5e5e5;

$mobile-title-font: 20px;
$mobile-title-lineheight: 32px;

$desktop-title-font: 36px;
$desktop-title-lineheight: 48px;

$mobile-padding: 15px;
$desktop-padding: 30px;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;
$xl-width: 1600px;

$transition: 0.5s ease;