.btn {
    position: relative;

    display: inline-block;
    padding: 0;

    font-family: $font-primary;
    font-size: 14px;
    letter-spacing: 0.18px;
    font-weight: 400;
    color: $color-text;
    text-decoration: none;

    border: 0;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
    outline: none;

    transition: $speed ease-in-out;

    &[disabled] {
        cursor: default;
        opacity: 0.5;
    }

    &:hover {
        transition: $speed ease-in-out;
    }

    &_block {
        display: block;
        width: 100%;
    }

    &_accent {
        padding: 12px;

        line-height: $unit*2;
        text-align: center;
        color: $color-white;

        background-color: $color-accent;

        &:hover {
            color: $color-white;

            background-color: $color-accentHover;
        }

        &:focus,
        &:active {
            color: $color-white;

            background-color: $color-accentHover;
            opacity: 0.8;
        }

        @include tablet-block {
            padding: $unit*2;
        }
    }

    &_bordered {
        padding: 11px;
        
        line-height: 16px;
        text-align: center;
        text-decoration: none;
        color: $color-accentHover;

        background-color: $color-white;
        border: 1px solid $color-accent;

        @include tablet-block {
            padding: 15px;
        }

        &:hover {
            color: $color-white;

            background-color: $color-accent;
        }

        &:focus,
        &:active {
            color: $color-white;
            
            background-color: $color-accent;
            opacity: 0.8;
        }
    }
}
