.container {
    @include wrapper;

    @include md-block {
        &_text {
            max-width: 560px;
            padding-left: $grid-unit*24;
        }
    }

    @include hd-block {
        &_text {
            max-width: 580px;
            padding-left: $grid-unit*19;
        }

        &_content {
            max-width: 1185px;
            margin: 0 auto;
        }
    }
}
