.breadcrumbs {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: $grid-unit;

    li {
        margin-right: $grid-unit*3;

        &:last-child {
            margin-right: 0;
        }
    }

    @include tablet-block {
        margin-bottom: $grid-unit*3;

        li {
            margin-right: $grid-unit*5;
        }
    }

    @include md-block {
        margin-bottom: $grid-unit*4;
    }
}

.breadcrumbs__item {
    a {
        position: relative;

        display: block;

        font-size: 12px;
        line-height: $grid-unit*3;
        font-weight: 400;
        letter-spacing: 0.31px;
        color: $color-text;
        text-decoration: none;

        &[href] {
            &:hover {
                color: $color-accent;
            }
    
            &::focus,
            &::active {
                color: $color-accent;
                
                opacity: 0.8;
            }

            &::after {
                content: "";

                position: absolute;
                right: -13px;
                top: 50%;

                width: $grid-unit;
                height: $grid-unit;

                background-color: $color-accent;

                transform: rotate(45deg) translateY(-50%);

                cursor: default;
            }
        }

        &:not([href]) {
            color: $color-text;
            font-weight: 300;
        }
    }

    @include tablet-block {
        a {
            font-size: 14px;
            letter-spacing: 0.37px;

            &[href] {
                &::after {
                    right: -23px;
                }
            }
        }
    }
}
