.pagination__container {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.pagination {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.pagination__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;

    font-size: 18px;
    line-height: 30px;
    color: $color-text;
    letter-spacing: 0.005em;
    font-weight: 400;

    border: 1px solid transparent;

    &.active {
        color: $color-accent;

        border-color: $color-accent;
        cursor: default;
    }

    &:not(.active):hover {
        @include transition;

        color: $color-accent;

        border-color: $color-accent;
    }

    &:not(.active):active,
    &:not(.active):focus {
        opacity: 0.6;
    }
}

.pagination__arrow {
    position: relative;

    width: 30px;
    height: 30px;

    &::before {
        content: "";

        position: absolute;
        top: 50%;
        left: 50%;

        width: 10px;
        height: 10px;

        border: 1px solid $color-accent;

        transform: translate(-50%, -50%) rotate(45deg);
    }

    &.pagination__arrow--prev {
        &::before {
            border-top: none;
            border-right: none;
        }
    }

    &.pagination__arrow--next {
        &::before {
            border-bottom: none;
            border-left: none;
        }
    }

    &:not(.disabled):hover {
        &::before {
            @include transition;

            border-color: $color-accent;
        }
    }

    &:not(.disabled):active,
    &:not(.disabled):focus {
        border-color: $color-accent;
        opacity: 0.8;
    }

    &.disabled {
        cursor: default;

        &::before {
            border-color: $color-text;
        }
    }
}
