.popup-wrapper {
    position: fixed;
    z-index: -1;

    width: 100vw;
    height: 100vh;
}

.popup-wrapper--show {
    z-index: 200;

    opacity: 0.9;
    background-color: #dddddd;
}

/* popup */

.popup {
    position: fixed;
    z-index: 300;
    left: 50%;
    top: 50%;

    display: none;
    flex-direction: column;
    padding: 30px;
    width: 260px;
    margin: 0 auto;

    color: $text;
    background-color: #ffffff;
    box-shadow: 0 5px 10px 0 rgba(0, 1, 1, 0.25);

    transform: translate(-50%, -50%);
    transition: display 1s ease;
}

.popup--show {
    display: flex;
    transition: 1s ease;
}

.popup__title {
    margin: 0;
    margin-bottom: 10px;

    text-align: center;
}

.popup__description {
    margin: 0;
    margin-bottom: 10px;

    text-align: center;
}

.popup__form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.popup__input {
    margin-bottom: 20px;
    padding: 10px;

    font: inherit;
    color: $text;
    border: 1px solid $gray-form;
    border-radius: 5px;
    background-color: transparent;
}

.popup__link {
    margin-bottom: 20px;
    padding: 10px 0;

    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    text-transform: none;

    background-color: $text;
}

.popup__privacy {
    display: block;

    color: $text;
    text-align: center;
}

.popup__close {
    position: absolute;
    top: 5px;
    right: 5px;

    width: 22px;
    height: 22px;

    font-size: 0;

    background-color: transparent;
    border: 0;

    cursor: pointer;

    &:hover {
        background-color: transparent;

        transition: 0.5s ease;
    }

    &:hover::before,
    &:hover::after {
        background-color: $accent;
    }

    &:active,
    &:focus {
        opacity: 0.4;
    }
}

.popup__close::before,
.popup__close::after {
    content: "";

    position: absolute;
    top: 10px;
    left: 2px;

    width: 19px;
    height: 3px;

    background-color: #000000;
}

.popup__close::before {
    transform: rotate(45deg);
}

.popup__close::after {
    transform: rotate(-45deg);
}


@media (min-width: $tablet-width) {

    .popup {
        width: 354px;
    }
}

@media (min-width: $desktop-width) {}

@media (min-width: $xl-width) {}
